* {
    // outline: 1px red solid;
}



.author {
    &__avatar {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),
                    0 1px 10px 0 rgba(0,0,0,.12),
                    0 2px 4px -1px rgba(0,0,0,.3);
        
        cursor: pointer;
    }
}

.nav-wrap {
    padding: 1.76rem 1.17rem;
}

.nav {
    &__item {
        line-height: 2.4;
    }
    &__item.-tag {
        display: inline;
        margin: 0 2px;

        line-height: 2.4;
    }
}

.category {
    width: 16.47rem;
    padding: 1.76rem 1.17rem;

    overflow: auto;

    &__title {
        color: $font-color-light;

        font-size: 1rem;
    }
}

.type {
    width: 100%;
}

.header-main {
    @include _flex( star );
    pointer-events: auto;
}
