* {
    // outline: 1px red solid;
}

.nav {
    &__item {
        line-height: 2.4;
        cursor: pointer;
    }
    &__item.-tag {
        display: inline;
        margin: 0 2px;

        line-height: 2.4;
    }
}

.category {
    width: 16.47rem;
    padding: 1.76rem 1.17rem;

    overflow: auto;

    &__title {
        color: $font-color-light;

        font-size: 1rem;
    }
}

.header-container {
    @include _flex( star );

    max-width: 1000px;
    width: 55%;
    min-width: 800px;
    height: 3rem;
    margin: 0 auto;

    pointer-events: auto;

    @extend %CONTENT-WIDTH;

    &__nav {
        position: relative;
    }

    &__avater {
        width: 3rem;
        height: 3rem;

        border-radius: 50%;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),
                    0 1px 10px 0 rgba(0,0,0,.12),
                    0 2px 4px -1px rgba(0,0,0,.3);
        
        cursor: pointer;
    }

    &__title {
        margin: 0 .5rem;

        font-family: serif;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 3rem;
    }
}

.content {
    margin: 0 auto;
    width: 100vw;

    &.-article {
        max-width: 1000px;
        width: 55%;
        min-width: 800px;

        @extend %CONTENT-WIDTH;
    }
}

%CONTENT-WIDTH {
    @include _media( lg ) {
        max-width: 799px;
        width: 60%;
        min-width: 700px;
    };
    @include _media( md ) {
        max-width: 699px;
        width: 70%;
        min-width: 550px;
    };
    @include _media( sm ) {
        max-width: 549px;
        width: 75%;
        min-width: 420px;
    };
    @include _media( xs ) {
        max-width: 419px;
        width: 95%;
        min-width: unset;
    };
}
