* {
    // outline: 1px red solid;
}



.author {
    &__avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),
                    0 1px 10px 0 rgba(0,0,0,.12),
                    0 2px 4px -1px rgba(0,0,0,.3);
    }
}

.nav-wrap {
    padding: 30px 20px;
}

.nav {
    &__item {
        line-height: 2.4;
    }
    &__item.-tag {
        display: inline;
        margin: 0 2px;

        line-height: 2.4;
    }
}

.category {
    width: 280px;
    padding: 30px 20px;

    overflow: auto;

    &__title {
        color: $font-color-light;

        font-size: 1rem;
    }
}

.type {
    width: 100%;
}
