.header-container {
    position: relative;
    @include _flex( star middle );

    height: 4rem;
    margin: 0 auto;

    pointer-events: auto;

    @extend %CONTENT-WIDTH;

    &__avater {
        width: 3rem;
        height: 3rem;

        border-radius: 50%;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),
                    0 1px 10px 0 rgba(0,0,0,.12),
                    0 2px 4px -1px rgba(0,0,0,.3);
        
        cursor: pointer;
    }

    &__title {
        display: inline-block;
        width: calc( 100% - 3rem );
        margin: 0 .5rem;

        overflow: hidden;
        
        font-family: serif;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 3rem;
        word-break: keep-all;
        text-overflow: ellipsis;
    }
}
