@charset "UTF-8";

#app {
  display: flex;
  height: inherit;
  
  background-color: #f2f2f2;
  
  aside {
    @include _flex( start none );
  }
  
  main {
    width: 100%;
    padding: 0 50px;

    overflow: auto;
  }
}

.nav-wrap {
  padding: 30px 20px;
}
