@charset "UTF-8";

#app {
    @include _flex( start column );
    width: 100%;
    min-height: 100vh;
  
    background-color: $color-background;

    nav {
        position: absolute;
        @include _flex( start none );

        top: 4rem;
    }

    header {
        @include _flex( top middle );
        position: fixed;
        width: 100vw;
        height: 4rem;

        z-index: 900;
        transition: transform .25s ease-in-out;
        will-change: transform;
        
        &.-show {
            transform: translateY(0);
        }
        &.-hidden {
            transform: translateY(-100%);
        }
    }

    main {
        @include _flex( star );
        width: 100vw;
        margin: 4rem 0;
        transition: filter .2s ease-in;
        will-change: filter;
        
        &.-focus {
            filter: blur(12px);
            pointer-events: none;

            ::selection {
                color: inherit;
                background-color: transparent;
            }
        }
    }

}

@include _media( lg ) {
    html {
        font-size: 16px;
    }
};
@include _media( md ) {
    html {
        font-size: 15px;
    }
};
@include _media( sm ) {
    html {
        font-size: 14px;
    }
};
@include _media( xs ) {
    html {
        font-size: 12px;
    }
};
