@charset "utf-8";

/*
 *  Viewport
 */

@viewport { width:device-width; }

/*
 *  Font
 *  [1] 防止 IOS 翻转屏幕时放大文字
 */

@font-face {
  font-family: "Emphasis";

  src: local("Arial");
  unicode-range: U+2022, U+25CF;
}

@font-face {
  font-family: "Biaodian";

  src: local("PingFang SC"), local("Hiragino Sans GB"), local("Microsoft YaHei");
  unicode-range: U+3002, U+FF0C, U+3001, U+FF1A, U+FF1B, U+FF01, U+FF1F, U+300C, U+300D, U+300E, U+300F U+201C, U+2019, U+2018, U+2019 U+FF08, U+FF09, U+2E3A, U+2014 U+3010, U+3011, U+3016, U+3017, U+3014, U+3015, U+FF3B, U+FF3D, U+FF5B, U+FF5D, U+2026, U+2013, U+FF5E, U+007E, U+00B7, U+FE4F, U+300A, U+300B, U+3008, U+3009, U+FF3F, U+002F, U+FF0F;
}

html {
  font-size: 16px;
  font-family: "Emphasis", "Biaodian",
               -apple-system, BlinkMacSystemFont,
               "Helvetica Neue", "Segoe UI", "Roboto",
               "PingFang SC", "Hiragino Sans GB",
               "Microsoft YaHei Light", "Microsoft YaHei",
               "Noto Sans CJK",
               "WenQuanYi Micro Hei",
               sans-serif;
  line-height: 2;
  color: $font-color-default;

  -webkit-text-size-adjust: 100%; // [1]
}

/*
 *  Box
 *  [1] 防止出现点击背景
 */

html {
  box-sizing: border-box;
  height: 100%;

  -webkit-tap-highlight-color: transparent; // [1]
}

body {
  height: inherit;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 *  Scrollbar
 */

::-webkit-scrollbar {width: 10px;height: 10px;transition: all .5s cubic-bezier(.35,0,.25,1);background-color: rgba(0,0,0,.05);}
::-webkit-scrollbar-button {display: none;}
::-webkit-scrollbar-corner {background-color: transparent;}
::-webkit-scrollbar-thumb {background-color: rgba(0,0,0,.26);transition: all .5s cubic-bezier(.35,0,.25,1);}

/*
 *  Selection
 */

::selection {
  background-color: $color-selection;
  color: white;
}

/*
 *  fix 'jumping scrollbar'
 *  http://www.zhangxinxu.com/wordpress/2015/01/css-page-scrollbar-toggle-center-no-jumping/
 *  https://aykevl.nl/2014/09/fix-jumping-scrollbar
 */

html {
  overflow-y: scroll;
}
:root {
  overflow-x: hidden;
  overflow-y: auto;
}
:root body {
  position: absolute;
}
body {
  width: 100vw;
  overflow: hidden;
}

/*
 *  Element
 */

ul {
  list-style-type: none;

  padding: 0;
  margin: 0;
}

img {
  border-style: none;
}

p {
  margin: 0;
}

a {
  color: inherit;
  background-color: transparent;

  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  
  text-shadow: 2px 2px 1px $font-shadow-default;
  word-break: keep-all;
}
