@import '~@/assets/css/utils';

$--borderColor: rgb(194, 194, 194);

.-note {
  padding: 2.5rem 0;
  
  & > {
    h1,
    h2,
    h3,
    h4, h5, h6,
    blockquote,
    ul,
    ol,
    p,
    hr,
    div.highlighter-rouge {
      width: 100%;
      margin: .5rem 0;
    }

    ul {
      width: calc(50% - 20px/2);
      padding: 0 10px;
    }
  }

  h1 {
    font-size: 1.8rem;
    font-weight: 400;
  }

  h2 {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
      margin-left: 10px;
      background: linear-gradient(to right,rgba(140, 140, 145, 0.6),transparent 90%);
    }
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 400;
  }

  h4, h5, h6 {
    font-size: 1rem;
    font-weight: 400;
  }

  blockquote {
    border-left: .3rem $--borderColor solid; 
  }

  ul {
    padding: 10px;
    border: 1px $--borderColor solid;

    font-size: .9rem;

    li {
      margin: 1rem 0;
      line-height: 1.4;
    }
  }

  ol {
    padding-left: 2em;
  }

  p {

  }

  hr {
    height: 0px;
    border: none;
    border-bottom: 1px $--borderColor solid;
    outline: none;
  }

  pre {
    line-height: 1.4;

    code {
      line-height: 1;
      vertical-align: text-top;
    }
  }

  .highlighter-rouge {
    
    pre {
      margin: 1rem 0;
      overflow: auto;

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0);
        transition: all .5s cubic-bezier(.35,0,.25,1);
      }
      &:hover {
        &::-webkit-scrollbar-thumb {
          background-color: rgba(0,0,0,.15);
          transition: all .5s cubic-bezier(.35,0,.25,1);
        }
      }
    }
  }

  a {
    padding-bottom: .125em;
    border-bottom: 1px currentColor solid;
    color: inherit;
    background-color: transparent;
    text-decoration:none;
  }

  code {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: inherit;
  }

  @include _media( xl) {
      width: 1000px;
  }
  @include _media( lg) {
      max-width: 1000px;
      width: 76%;
      min-width: 820px;
  }
  @include _media( md) {
      max-width: 819px;
      width: 80%;
      min-width: 580px;

      ul {
        width: 100%;
      }
  }
  @include _media( sm) {
      max-width: 579px;
      width: 75%;
      min-width: 420px;
  }
  @include _media( xs) {
      max-width: 419px;
      width: 100%;
      min-width: unset;
  }
}